@font-face {
  font-family: "Avenir Next Variable";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2729/AvenirNext_Variable.ttf")
    format("truetype");
}

* {
  font-family: "Avenir Next Variable", sans-serif;
}

hr {
  background-color: #dbdada;
  height: 1px;
  border: none;
  margin: 10px 0;
}

/* CARD SECTION */
.card-container {
  width: 544px;
  overflow: hidden;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.13), 0 1px 4px 0 rgba(0, 0, 0, 0.11);
  margin: 1rem;
  margin-top: 0.5rem;
}

.image-container img {
  overflow: hidden;
  height: 272px;
}

h3,
p {
  margin: 0;
  padding: 0;
}

.card-left {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-left img {
  width: 40px;
  height: 40px;
  float: left;
  border: 5px solid white;
  border-radius: 10px;
  margin-right: 11px;
  margin-left: 25px;
}

.card-left .title {
  color: #1a2258;
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-left .address {
  color: #787d9c;
  font-size: 14px;
}

.card-body {
  color: #1a2258;
  font-weight: 600;
  font-size: 19px;
  display: flex;
  align-items: center;
}

.card-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

.sub_price {
  margin-top: 5px;
  color: #787d9c;
  font-size: 14px;
}

.space {
  margin: 0 5px;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 35px;
  margin-bottom: 25px;
}

.card-details .deets,
.more-deets {
  font-size: 16px;
  color: #1a2258;
}

.card-details .deets {
  display: flex;
}

/* DROPDOWN SECTION */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  width: 500px;
}

.item {
  margin-bottom: 20px;
}

.details {
  color: #1a2258;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 7px;
}

.header p {
  color: #216bff;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

.number {
  color: #1a2258;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.number span {
  font-weight: 600;
}

.number > span {
  margin-right: 15px;
}

.phone p {
  color: #1a2258;
  cursor: pointer;
  user-select: none;
}

.item.hide {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.item.show {
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.footer {
  color: #787d9c;
  font-size: 14px;
}

.advants {
  display: flex;
}

.advants > div {
  margin-right: 15px;
}

.advants > div > div {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.advants > div > div i {
  color: #1a2258;
  font-size: 20px;
}

.advants > div > div > span {
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
}

.advants > div > div > span > span {
  color: #1a2258;
  font-weight: normal;
  margin-left: 5px;
}

/* RIBBON SECTION */
.content {
  position: relative;
}

.ribbon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  z-index: 1;
}
.ribbon {
  --f: 0.5em;
  --r: 0.8em;
  top: 15px;
  padding-inline: 0.25em;
  line-height: 1.8;
  background: #ff72b6;
  border-bottom: var(--f) solid #0005;
  border-right: var(--r) solid #0000;
  clip-path: polygon(
    calc(100% - var(--r)) 0,
    0 0,
    0 calc(100% - var(--f)),
    var(--f) 100%,
    var(--f) calc(100% - var(--f)),
    calc(100% - var(--r)) calc(100% - var(--f)),
    100% calc(50% - var(--f) / 2)
  );
}

/* source code for ribbon 
https://css-generators.com/ribbon-shapes/
*/

@media screen and (max-width: 768px) {
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-left {
    margin: 0;
    margin-top: 15px;
  }

  .card-right {
    margin-left: 32px;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .card-right > div {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .card-body {
    color: #1a2258;
    font-weight: 600;
    font-size: 19px;
  }

  .sub_price {
    margin-top: 5px;
    color: #787d9c;
    font-size: 14px;
  }

  .card-details {
    text-align: center;
    margin: 0;
  }

  .wrapper {
    width: 100%;
  }
}
